@media (max-width: 576px) {
  /* navbar */

  .list-nav-bar {
    padding-left: 10px;
    padding-top: 10px;
  }

  .list-nav-bar li {
    display: block;
    padding: unset;
    padding-bottom: 10px;
    font-size: 14px;
    text-align: left;
    border: none;
    font-weight: 500;
  }

  li.avt-nav {
    padding: 0;
  }

  .list-nav-bar li:first-child {
    border-left: none;
  }

  .nav-certificate {
    border-left: none;
  }
  /* End NAV */
  /* Start Introduce */

  .about-grey {
    background: none;
  }

  .item-info {
    text-align: left;
    width: 100%;
    font-size: 14px;
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #f5f5f5;
  }

  .item-info p {
    font-size: 14px;
  }

  .item-info:last-child {
    text-align: left;
    width: 100%;
    font-size: 14px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
  }

  .section-title {
    font-weight: 400;
  }
  /* End Introduce */

  /* Start Section Person Infor ---------------- */

  .project-icon {
    margin: 0;
    margin-left: 10px;
    margin-top: 10px;
  }

  .project-icon:last-child {
    margin-bottom: 10px;
  }

  .project-list-info {
    margin: none;
  }

  .projectlist {
    margin-left: 10px;
    padding: 0;
  }

  /*  END Section Person Infor ---------------- */
  /* ---------------------------------- */
  /* Start Certificate - Reward -------------------- */

  .certificate_grey:nth-child(2) {
    border-left: none;
    border-top: solid 1px #d6c08d;
    margin-top: 20px;
  }

  .certificate_grey:nth-child(2) img {
    margin-top: 20px;
  }

  /* END Certificate - Reward -------------------- */

  /* Start Project -------------------------*/

  .container-project {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    justify-content: center;
    row-gap: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .project-detail {
    margin-top: 40px;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .title-project {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  /* END Project -------------------------*/

  /* Start footer -------------------------*/
  .hide-text {
    display: none;
  }
  /* END footer -------------------------*/

  /* START CV-DIGITAL --------------- */

  /* timeline START------------ */
  .type-timeline:last-child {
    margin-bottom: 10px;
  }
  /* timeline END---------------- */

  /* END CV-DIGITAL --------------- */
}
