@media (max-width: 992px) {
  /* start header--------------------- */

  h1 {
    font-size: 36px;
    font-weight: 300;
  }

  .text-info {
    font-size: 12px;
    color: #919191;
  }
  /* navbar */

  .list-nav-bar li {
    font-size: 12px;
  }

  .list-nav-bar a {
    text-decoration: none;
  }

  .list-nav-bar li:first-child {
    border-left: solid 1px #e2e2e2;
  }

  li.avt-nav {
    width: 40px;
    height: auto;
    vertical-align: top;
    padding: 3px 20px 15px 20px;
    line-height: 1.25;
    border: none;
  }

  li.avt-nav img {
    display: none;
  }

  .img-high-level {
    display: none;
  }

  /* Start Introduce */

  .item-info p {
    font-size: 12px;
  }

  .item-info:last-child {
    font-size: 12px;
  }

  .section-title {
    font-size: x-large;
    font-weight: 400;
  }

  /* End Introduce */

  /* Start Section Person Infor ---------------- */

  .project-icon {
    margin: 0;
    margin-left: 0px;
    margin-top: 10px;
    padding: 0;
  }

  .project-icon:last-child {
    margin-bottom: 10px;
  }

  .projectlist {
    margin-top: 15px;
    padding: 0;
  }

  /*  END Section Person Infor ---------------- */

  /* Start Certificate - Reward -------------------- */
  .title-certificate {
    row-gap: 20px;
    grid-template-columns: 45% 45%;
  }

  .certificate-reward {
    padding-left: 20px;
  }

  .certificate-details {
    width: 90%;
    height: 300px;
    display: grid;
    grid-template-columns: 100%;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: none;
  }

  .certificate-content {
    width: 100%;
    height: 80%;
    background-color: #f5f5f5;
    text-align: left;
    padding: 0;
    padding-top: 5px;
  }

  .certificate-img {
    width: 100%;
    height: 100%;
  }

  .line-border {
    padding-right: 17px;
    border-right: solid 1px #d6c08d;
  }

  .certificate-details {
    border-bottom: solid 1px #d6c08d;
  }

  .certificate-img img {
    width: 100%;
    height: 100%;
    padding-top: 10px;
  }

  .line {
    padding-right: 17px;
    border-right: solid 1px #d6c08d;
  }

  .certificate-content ul {
    list-style-type: "-";
    font-size: 12px;
    color: #6d6d6d;
    padding: 10px 0 0px 5px;
  }

  /* END Certificate - Reward -------------------- */

  /* START CV-DIGITAL --------------- */
  .item {
    padding-right: 20px;
    margin-bottom: 0;
  }

  .item:last-child {
    padding-right: 20px;
  }

  .type-timeline {
    margin-top: 20px;
  }

  .type-team {
    text-align: center;
  }

  .type-team ul {
    margin-top: 0px;
  }

  .type-primary {
    text-align: center;
  }
  /* END CV-DIGITAL --------------- */
}
